@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bank+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=CP+Mono&display=swap');

@font-face {
    font-family: 'CPMono';
    src: url('/fonts/CPMono-Regular.woff2') format('woff2'),
        url('/fonts/CPMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CPMono';
    src: url('/fonts/CPMono-Bold.woff2') format('woff2'),
        url('/fonts/CPMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}